<section class="content">

    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs admin-account">
                    <li ng-click="activeTab('activity', 'student')" class="active student"><a href="" data-toggle="tab" aria-expanded="true">Create StudentAccount</a></li>
                    <li ng-click="activeTab('timeline', 'lecture')" class="lecture"><a href="" data-toggle="tab" aria-expanded="false">Create LecturerAccount</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        <div class="register-box-body">
                            <div class="col-xs-12">

                                <form action="../../index.html" method="post">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" placeholder="Full name" ng-model="student.fullName">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="email" class="form-control" placeholder="Email" ng-model="student.email">
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" placeholder="Password" ng-model="student.password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" placeholder="Retype password">
                                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="studentid" class="form-control" placeholder="StudentID" ng-model="student.studentID">
                                        <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="studentphone" class="form-control" placeholder="Student Phone" ng-model="student.studentPhone">
                                        <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="course" class="form-control" placeholder="Course" ng-model="student.studentCourse">
                                        <span class="glyphicon glyphicon-tower form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <div class="col-xs-1">
                                            <p class="text-muted text-left">Class</p>
                                        </div>
                                        <div class="col-xs-4">
                                            <select ng-model="student.classID" ng-options="item.classID as item.className for item in classes"></select>
                                        </div>
                                            
                                        </div>
                                </form>
                            </div>
                            @*<div class="col-xs-3">
                                <div class="box-body box-profile">
                                    <img src="dist/img/sess.jpg" alt="User profile picture">

                                    <h3 class="profile-username text-left">Nina Sess</h3>

                                    <p class="text-muted text-left">Address</p>
                                    <p class="text-muted text-left">BirthDay</p>
                                    <p class="text-muted text-left">Gender</p>

                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-xs-12">
                                    
                                    <!-- /.col -->
                                    <div class="col-xs-3" style="float:right">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <div class="register-box-body">
                            <p class="login-box-msg">Create a new Lecturer Account</p>
                            <div class="col-xs-9">

                                <form action="../../index.html" method="post">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" placeholder="Full name">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="email" class="form-control" placeholder="Email">
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" placeholder="Password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" placeholder="Retype password">
                                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="studentid" class="form-control" placeholder="LecturerID">
                                        <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="lecturer" class="form-control" placeholder="Lecturer Phone">
                                        <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="subject" class="form-control" placeholder="Subject">
                                        <span class="glyphicon glyphicon-tower form-control-feedback"></span>
                                    </div>
                                </form>
                            </div>
                            @*<div class="col-xs-3">
                                <div class="box-body box-profile">
                                    <img src="dist/img/sess.jpg" alt="User profile picture">

                                    <h3 class="profile-username text-left">Nina Mcintire</h3>

                                    <p class="text-muted text-left">Address</p>
                                    <p class="text-muted text-left">BirthDay</p>
                                    <p class="text-muted text-left">Gender</p>

                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox"> I agree to the <a href="#">terms</a>
                                        </label>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-3" style="float:right">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>