<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Student</th>
                                            <th class="sorting">StudentID</th>
                                            <th class="sorting">Birth</th>
                                            <th class="sorting">Class Name</th>
                                            <th class="sorting">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr role="row" class="odd" ng-repeat="item in students">
                                            <td>{{item.studentName}}</td>
                                            <td>{{item.studentCode}}</td>
                                            <td>{{item.studentBirth}}</td>
                                            <td>{{item.className}}</td>
                                            <td>{{item.status}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</section>