<div class="row">
    <div class="col-xs-12">
        <div class="box" ng-repeat="attendance in attendances">
            <div class="box-header">
                <h3 class="box-title">{{attendance.subjectName}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Lesson</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Days</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Slot</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Lecturer</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Decription</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="aaaa">Attendance</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="aaaa">Note</th>
                                </thead>
                                <tbody>

                                    <tr role="row" class="odd" ng-repeat="item in attendance.page track by $index">
                                        <td class="sorting_1">{{$index}}</td>
                                        <td>{{item.dateAttendance}}</td>
                                        <td>{{item.slotID}}</td>
                                        <td>{{item.attendancerName}}</td>
                                        <td>Theory</td>
                                        <td>{{item.attendance}}</td>
                                        <td> <input type="text" name="note"></td>
                                    </tr>
                                    @*<tr role="row" class="even">
                                        <td class="sorting_1">JSP</td>
                                        <td>SE801</td>
                                        <td>208</td>
                                        <td>4</td>
                                        <td>Take Attendance</td>
                                        <td>Edit</td>
                                        <td> <input type="text" name="note"></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-5">
                        @*<div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>*@
                        </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous active" id="example2_previous">
                                    <a href="#" ng-click="previous(attendance)" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                                </li>
                                <li class="paginate_button active" ng-repeat="a in range(attendance.totalPages) track by $index">
                                    <a href="#" ng-click="$event.preventDefault();getAttendancesFlowSubject($index + 1, attendance.subjectCode)" aria-controls="example2" data-dt-idx="{{$index + 1}}" tabindex="{{$index}}">{{$index + 1}}</a>
                                </li>
                                <li class="paginate_button next" id="example2_next">
                                    <a href="#" ng-click="next(attendance)" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>