<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Lecturer</h3>
        <select class="form-control select2">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
        </select>


    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Quality</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Best</option>
                        <option>Good</option>
                        <option>Medium</option>
                        <option>Fail</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Attitude</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Best</option>
                        <option>Good</option>
                        <option>Medium</option>
                        <option>Fail</option>
                    </select>
                </div>

                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>OnTime</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Best</option>
                        <option>Good</option>
                        <option>Medium</option>
                        <option>Fail</option>

                    </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Satisfaction</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Best</option>
                        <option>Good</option>
                        <option>Medium</option>
                        <option>Fail</option>
                    </select>
                </div>
            </div>
            <div class="col-md-9"><h4><label>Your Comments</label></h4><h4></h4></div>
            <div class="col-md-12">
                <textarea name="comments" rows="10" cols="100" style="width:100"></textarea>
                <div style="margin-right:100px">
                    <button type="button" class="btn btn-block btn-success" style="width:100px">Success</button>
                </div> 
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>