<section class="content">
    <style>
        th, td {
            vertical-align: middle;
            text-align: center;
        }

        .mygrid-wrapper-div {
            overflow: scroll;
            height: 70%;
        }
    </style>
    <div class="row">
        
            <div class="box">
                <div style="float: left; width: 100px;">
                    <h3 class="box-title">
                        Subject
                    </h3>
                    <select id="lectureSubject" ng-model="subjectSelected" ng-options="item as item.abbreSubjectName for item in classSubjects.lectureSubject"></select>
                </div>
                <div style="float: left; width: 100px;">
                    <h3 class="box-title">
                        Class
                    </h3>
                    <select id="lectureClass" ng-model="classSelected" ng-options="item as item.className for item in classSubjects.lectureClass"></select>
                </div>
                <div style="float: left; width: auto; margin-left: 85px;">
                    <h3 class="box-title">
                        Lecturer 
                    </h3>
                    <select id="lecture" ng-model="lectureSelected" ng-options="item as item.lecturerName for item in classSubjects.lectures"></select>
                </div>
                
                <div class="box-title" style="float:right">
                    <h3 class="box-title" style="float: right">{{lecturerPreviews.currentSemmeter}}</h3>
                </div>
            </div>

            <div class="box mygrid-wrapper-div">
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">
                            <th rowspan="2" style="vertical-align: middle; text-align: center;">No</th>
                            <th rowspan="2" style="vertical-align: middle; text-align: center;">Student Name</th>
                            <th ng-repeat="item in lecturerPreviews.preview" class="sorting">{{item.day}}</th>

                        </tr>
                        <tr role="row">
                            <th class="sorting" ng-repeat="item in lecturerPreviews.preview">{{item.slot}}</th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr role="row" class="odd" ng-repeat="row in lecturerPreviews.data track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{row.row}}</td>
                            <td ng-repeat="col in row.cols">{{col.status}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

</section>