<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="" ng-click="showTabs('activity', 'timeline')" data-toggle="tab" aria-expanded="true">Take Attendance</a></li>
                    <li class=""><a href="" ng-click="showTabs('timeline', 'activity')" data-toggle="tab" aria-expanded="false">Preview</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Class: {{attendance.item.className}}</h3>
                            </div>
                            <div class="box-header">
                                <h3 class="box-title">Subject: {{attendance.item.subjectName}}</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Student</th>
                                                        <th>ID</th>
                                                        <th>Image</th>
                                                        <th>Present</th>
                                                        <th>Absent</th>
                                                        <th>Note</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr role="row" ng-repeat="item in listAttendances">
                                                        <td>{{item.studentName}}</td>
                                                        <td style="width:100px;">{{item.subjectCode}}</td>
                                                        <td style="width:100px;"><img width="100" height="100" src="Content/dist/img/avatar5.png" alt="User Image"></td>
                                                        <td style="width:100px;"><input type="radio" name="attendance"  ng-model="item.present" ng-value="true"> Present</td>
                                                        <td style="width:100px;"><input type="radio" name="attendance" ng-model="item.present" ng-value="false"> Absent</td>
                                                        <td> <input type="text" name="note" style="width:100%;" ng-model="item.note"></td>

                                                    </tr>
                                                    @*<tr role="row">
                                                        <td>Nguyen F</td>
                                                        <td style="width:100px;">SE3801</td>
                                                        <td style="width:100px;"><img width="100" height="100" src="Content/dist/img/avatar5.png" alt="User Image"></td>
                                                        <td style="width:100px;"><input type="radio" name="attendance" value="present"> Present</td>
                                                        <td style="width:100px;"><input type="radio" name="attendance" value="absent"> Absent</td>
                                                        <td> <input type="text" name="note" style="width:100%;"></td>

                                                    </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <button ng-click="back()" style="float: right; width: 100px; margin-top: 0px; margin-left: 5px;" type="button" class="btn btn-block btn-success">Back</button>
                                <button ng-click="saveAttendance()" style="float: right; width: 100px; margin-top: 0px" type="button" class="btn btn-block btn-success">Save</button>
                            </div>
                            <!-- /.box-body -->

                        </div>

                    </div>


                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <div class="box">
                            <div class="box-header" style="float: left; width: 100px;">
                                <h3 class="box-title">
                                    Subject <select name="subject">
                                        <option value="java">Java</option>
                                        <option value="cnet">C# .NET</option>
                                        <option value="vov">VOV</option>
                                    </select>
                                </h3>
                            </div>
                            <div class="box-header" style="float: left; width: 100px;">
                                <h3 class="box-title">
                                    Class <select name="class">
                                        <option value="sp2016">SE0908</option>
                                        <option value="sm2016">SE0902</option>
                                        <option value="fl2106">SE0911</option>
                                    </select>
                                </h3>
                            </div>
                            <div class="box-header">
                                <h3 class="box-title" style="float: right">Spring 2016 (binding Semester)</h3>
                            </div>
                        </div>
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th span="1" style="width: 1px;">No</th>
                                    <th style="width: 1px;">StudentID</th>
                                    <th style="width: 1px;">11/3-1</th>
                                    <th class="sorting">11/3-2</th>
                                    <th class="sorting">13/3-1</th>
                                    <th class="sorting">13/3-2</th>
                                    <th class="sorting">18/3-1</th>
                                    <th class="sorting">18/3-2</th>
                                    <th class="sorting">20/3-1</th>
                                    <th class="sorting">20/3-2</th>
                                    <th class="sorting">27/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">12/3-1</th>
                                    <th class="sorting">11/5-1</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr role="row" class="odd">
                                    <td>1</td>
                                    <td>baonvse03195</td>
                                    <td style="width:150px;white-space:nowrap;">p</td>
                                    <td>a</td>
                                    <td>p</td>
                                    <td>p</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                    <!-- /.tab-content -->
                </div>
            </div>


        </div>
    </div>
</section>